<div class="title-jardins">
    <h1>Les Jardins</h1>
</div>
<% @jardins.each do |jardin| %>
  <div class="jardins-boxes">
    <h4><%= jardin.title %></h4>
    <span><%= jardin.description %></span>
    <%# IMAGES %>
  </div>
<% end %>
