// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: 'Junicode', "Garamond", "sans-serif";
$headers-font: "Junicode-bold", "Helvetica", "sans-serif";

@font-face {
  font-family: "Junicode";
  font-weight: normal;
  font-style: normal;
  src: url('assets/junicode-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode bold";
  font-weight: normal;
  font-style: normal;
  src: url('assets/junicode-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode italic";
  font-weight: normal;
  font-style: italic;
  src: url('assets/junicode-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode bold italic";
  font-weight: bold;
  font-style: italic;
  src: url('assets/junicode-bolditalic-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode condensed";
  font-weight: normal;
  font-style: normal;
  src: url('assets/junicode-regularcondensed-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode bold condensed";
  font-weight: bold;
  font-style: normal;
  src: url('assets/junicode-boldcondensed-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode italic condensed";
  font-weight: normal;
  font-style: italic;
  src: url('assets/junicode-italiccondensed-webfont.woff') format('woff');
}

@font-face {
  font-family: "Junicode bold italic condensed";
  font-weight: bold;
  font-style: italic;
  src: url('assets/junicode-bolditaliccondensed-webfont.woff') format('woff');
}
