@font-face {
  font-family: "Junicode";
  font-weight: normal;
  font-style: normal;
  src: url('Junicode-regular.woff2') format('woff2');
}

@font-face {
  font-family: "Junicode-bold";
  font-weight: bold;
  font-style: normal;
  src: url('Junicode-bold.woff2') format('woff2');
}
