.line-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: white;
  border: black 1px solid;
  padding: 24px;
  margin-bottom: 24px;

  .product-image {
    flex: 1 1 0;
    width: 150px;
    height: 150px;
    border: black 1px solid;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    flex: 1 1 0;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-buttons {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

.total-price {
  width: 80%;
  margin: auto;
  background-color: white;
  border: black 1px solid;
  padding: 24px;
  margin-bottom: 24px;
  text-align: right;
}

.cart-actions {
  width: 80%;
  margin: auto;
  padding: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.add-reduce-buttons {
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
  background-color: $complementary-color;
  font-family: "Junicode-bold";
  font-size: 1.2em;

  .quantity {
    background-color: $main-color;
    border-left: solid 1px black;
    border-right: solid 1px black;

  }

  a {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    &:hover {
      background-color: $light-gray;
    }
  }

  span {
    padding: 6px;
    flex: 1 1 0;
    text-align: center;
    align-items: center;
  }
}
