<h1>Blog</h1>

<div>
  <% @articles.each do |article| %>
    <h3><%= article.title %></h3>
    <p><%= article.content %></p>
    <span><%= article.date %></span>
    <p><%= link_to 'Lire plus', article_path(article) %></p>
  <% end  %>
</div>
