<div class="blog">
  <div class="articles-feed">
    <div class="title">
      <h1>Blog</h1>
    </div>
    <% @articles.each do |article| %>
      <div class="articles">
        <h3><%= article.title %></h3>
        <p><%= sanitize("#{article.content}".truncate(150)) %></p>
        <span><%= link_to 'Lire plus...', article_path(article) %></span>
        <br>
        <span>Publié le <%= article.date.strftime("%d/%m/%Y") %>.</span>
      </div>
    <% end  %>
  </div>
  <div class="instagram-feed">
    <h3>Instagram feed</h3>
  </div>
</div>
