<div class="dashboard-container">
  <div class="dashboard-title">
    <h2>Utilisateurs</h2>
  </div>
  <table>
    <colgroup span="4" class="columns"></colgroup>
      <tr class= "table-headers">
        <th>Prénom</th>
        <th>Nom</th>
        <th>email</th>
        <th>Admin ?</th>
        <th>Connecté ?</th>
        <th>Déconnecter ?</th>
      </tr>
      <% @users.each do |user| %>
      <tr class="table-lines">
        <th><%= user.first_name %></th>
        <th><%= user.last_name %></th>
        <th><%= user.email %></th>
        <% if user.admin? %>
        <th>Oui</th>
        <% else %>
        <th>Non</th>
        <% end %>
        <% if user_signed_in? %>
        <th>Oui</th>
        <% else %>
        <th>Non</th>
        <% end %>
        <th><%= link_to "Log out", destroy_user_session_path, data: { turbo_confirm: "Es-tu vraiment sûre de ton choix Alice ?", turbo_method: :delete } %></th>
      </tr>
      <% end %>
    </table>
</div>
