<div class="footer">
  <div class="left">
    <%= image_tag "SVG/Logo 1.svg" %>
    <div class="links">
      <span> <%= link_to 'Contact', contact_path %></span>
      <span> <%= link_to 'Conditions Générales de Vente', cgv_path %> </span>
      <span><em>Les Jardins d'Alice, Lieu dit Retorria 06470 Beuil</em></span>
    </div>
  </div>
  <div class="right">
    <div class="credits">
      <span>Website : ©Léo Bufi</span>
    </div>
  </div>
</div>
