<div class="banner-items">
  <div class="banner-items-title">
    <h2>Coffrets à la demande</h2>
  </div>
  <div class="banner-category">
    <div class="banner-category-card" data-controller="hover-images">
        <%= link_to new_coffret_on_demand_path do %>
        <div class="infos d-none" data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos' data-hover-images-target="infos">
            <span>Nouveauté chez les Jardins d'Alice, vous pouvez désormais créer vous propre coffret en sélectionnant jusqu'à 4 éléments !</span>
            <b>Cliquez pour composer votre coffret</b>
        </div>
        <div class="product-image" data-hover-images-target="img">
              <% if @images.where(coffret_on_demand: true).first.coffret_on_demand_img.attached? %>
              <div class="background" style="background-image: url(<%= cl_image_path @images.where(coffret_on_demand: true).first.coffret_on_demand_img.key, :crop=>"fit" %>)">
                <h3 data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos'>Coffrets à la demande</h3>
              </div>
              <% else %>
              <div class="background" style="background-image: url(<%= asset_url("SVG/Leafs.svg")%>">
                <h3 data-action='mouseleave->hover-images#showImage mouseenter->hover-images#showInfos'>Coffrets à la demande</h3>
              </div>
              <% end %>
        </div>
        <% end  %>
    </div>
  </div>
  <%= link_to new_coffret_on_demand_path do %>
  <div class="banner-items-link">
    <h3>Composer votre coffret</h3>
  </div>
  <% end %>
</div>
