<div class="navbar-top">
  <div class="nav-top-logo">
    <%= link_to root_path do %>
      <%= image_tag "SVG/Banner_logo.svg" %>
    <% end %>
  </div>
  <div class="cart">
    <%= link_to "Panier (#{@current_cart.line_items.count})", cart_path(@current_cart) %>
  </div>
</div>
