<dialog open class="pop-up">
    <form method="dialog">
        <button><i class="fa-sharp fa-solid fa-xmark"></i></button>
    </form>
    <%= link_to "Nouveauté chez les Jardins d'Alice, vous pouvez désormais composer votre propre coffret en suivant ce lien !", new_coffret_on_demand_path %>
</dialog>  