<div class="order-container">
  <h1>Merci pour votre commande !</h1>
  <h2>Commande #<%= @order.id %> <small></h2>
  <h2><%= @order.state %></span></small></h2>
  <ul class="list-unstyled">
    <li><strong>Réglement effectué le</strong> <%= @order.created_at.to_date.strftime("%A %e %B %Y") %></li>
    <li><strong>Total : </strong> <%= @order.amount %> €</li>
    </li>
  </ul>
</div>
