<div class="dashboard-container">
  <h2>Conditions générales de vente du site jardinsdalice.fr</h2>
  <br>
  <h4>Entreprise :</h4>
  </p>Les Jardins d’Alice ( ci-après désigné le Vendeur) est enregistré sous le numéro de SIREN 814 115 820. Implantée à BEUIL (06470), et est spécialisé dans le secteur d'activité de la culture de plantes à épices, aromatiques, médicinales. TVA non applicable.<p>

  <p>
    Le site  https://jardinsdalice.com est édité par l’affaire personnelle exploitant Agricole Madame Alice CORSINI
    , numéro de Siret: 81411582000015 et dont le Siège social est situé au LIEUDIT RETORRIA 06470 BEUIL
    </p>Directeur de publication :  Alice CORSINI<p>
    </p>Contact :
      <li>Email : lesjardinsdalice@outlook.fr</li>
      <li>N° de téléphone : xxx</li>
    </p>
  </p>
  <p>
    Le site est hebergé chez : ( XXXXX)
  </p>

  <h4>
    Préambule
  </h4>

  <p>
    Toute prise de commande au titre d'un produit figurant au sein de la boutique en ligne du site web " jardinsdalice.fr" implique la consultation et l’acceptation préalable des présentes conditions générales.
    En conséquence, le consommateur reconnaît être parfaitement informé du fait que son accord concernant le contenu des présentes conditions générales ne nécessite pas la signature manuscrite de document. Cette acceptation pourra consister par exemple, pour le Client, à cocher la case correspondant à la phrase d'acceptation des présentes CGV, ayant par exemple la mention « Je reconnais avoir lu et accepté l’ensemble des conditions générales du Site ». .
    Le Client reconnaît la valeur de preuve des systèmes d'enregistrement automatique du Vendeur et, sauf pour lui d'apporter une preuve contraire, il renonce à les contester en cas de litige.
  </p>
  <p>
    Le consommateur déclare avoir la pleine capacité juridique lui permettant de s'engager au titre des présentes conditions générales et être majeur (18 ans) au moment de la commande d'un produit ou de l'inscription sur le site.
    Si le Client est mineur ou ne dispose pas de cette capacité juridique, il déclare avoir l'autorisation d'un tuteur, d'un curateur ou de son représentant légal.
  </p>
  <p>
    Il est précisé que pour toute première commande, le consommateur devra créer sur le Site son compte personnel utilisateur et remplir tous les champs obligatoires. Ces champs permettant d’identifier le consommateur et de lui livrer les commandes, il est précisé que celui-ci devra être vigilant quant aux informations transmises. Ainsi, le   client   est   entièrement   responsable   des informations saisies et devra valider sa commande après l’avoir vérifiée, et notamment le lieu de livraison et l’identité de la personne.  A   défaut   d’être complètement renseigné, le compte utilisateur ne sera pas validé. En conséquence, notre responsabilité ne saurait être recherchée ni engagée dans le cas où nous serions dans l’impossibilité de livrer ou d’exécuter la commande en raison d’erreurs, imprécisions ou omissions relativement à ces informations.
  </p>
  <h4>
    Article I - Application des CGV et objet du Site
  </h4>
  <p>
    Le Vendeur se réserve le droit de modifier à tout moment les CGV en publiant une nouvelle version de ces dernières sur le Site. Les CGV applicables au Client sont celles en vigueur au jour de sa commande sur le Site.
    Les informations légales concernant l'hébergeur et l'éditeur du Site, la collecte et le traitement des données personnelles et les conditions d'utilisation du Site sont fournies dans les conditions générales d'utilisation et les mentions légales du présent Site.
    Le présent Site propose la vente en ligne de Produits alimentaires, compléments alimentaires à base de plantes, produits de soin, conseils en phytotherapie.
    Le Site est d’accès libre et gratuit à tout Client..
    Nous ne livrons qu'en France Métropolitaine
  </p>
  <h4>
    Article 2 : Documents contractuels
  </h4>
  <p>
    Le présent contrat est formé par les documents contractuels suivants, présentés par ordre hiérarchique décroissant : les présentes conditions générales et le mail envoyé lors de la commande, ainsi que les pièces jointes qui y sont rattachées.
  </p>
  <h4>
    Article 3 : Entrée en vigueur - durée
  </h4>
  <p>
    Les présentes conditions générales entrent en vigueur à la date de validation de la commande sur le Site.
  </p>
  <h4>
    Article 4 : Signature électronique
  </h4>
  <p>
    Le clic du consommateur « valider la commande » au titre du bon de commande constitue une signature électronique qui a, entre les parties, la même valeur qu'une signature manuscrite et engage le consommateur quant à son achat par voie electronique.
  </p>
  <h4>
    Article 5 : Confirmation de commande
  </h4>
  <p>
    Les informations contractuelles feront l'objet d'une confirmation par voie d'e-mail au moment de la confirmation de commande ou à défaut, à l'adresse indiquée par le consommateur au sein du bon de commande.
  </p>
  <h4>
    Article 6 : Preuve de la transaction
  </h4>
  <p>
    Les registres informatisés, conservés dans les systèmes informatiques du site jardinsdalice.fr dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, des commandes et des paiements intervenus entre les parties. L'archivage des bons de commande et des factures est effectué sur un support fiable et durable pouvant être produit à titre de preuve.
  </p>
  <h4>
    Article 7 : Informations sur les produits
  </h4>
  <p>
    La société présente sur son site web les produits à vendre avec les caractéristiques nécessaires qui permettent de respecter l'Article L 111-1 du Code de la consommation, qui prévoit la possibilité pour le consommateur potentiel de connaître avant la prise de commande définitive les caractéristiques essentielles des produits qu'il souhaite acheter.
  </p>
  <h4>
    Responsabilité
  </h4>
  <p>
    L'entreprise Les Jardins d'Alice ne saurait  être tenue pour responsable  des dommages  résultant d'une
    mauvaise   utilisation   du   produit   acheté  ou   de   toute   allergie,   ou   autre   maladie   résultant   de   la
    consommation de produits achetés si ceux-ci sont conformes au descriptif initial. Le client est seul
    responsable   du   choix   des   produits,   de   leur   conservation   à   compter   de  la   livraison   et  de  leur
    utilisation. A cet égard, l'attention du client est attirée sur le fait  qu’il lui appartient de  qu'il ne
    doitne  pas consommer  les produits s'il apparaît qu’ils sont détériorés (du  fait de  la chaleur, de
    problèmes à l'occasion du transport ou de tout autre cause). En aucun cas le Manganier ne pourrait
    être tenu responsable de tout dommage intervenant de ce fait.
  </p>
  <p>
    Par ailleurs la responsabilité de le Manganier ne saurait être engagée pour tous les inconvénients ou
    dommages   inhérents   à  l'utilisation  du   réseau   Internet,  notamment   une   rupture   de  service,   une
    intrusion extérieure ou la présence de virus informatiques.
  </p>
  <p>
    Le Vendeur ne saurait  être tenu pour responsable  des dommages  résultant d'une mauvaise   utilisation   du   produit   acheté  ou   de   toute   allergie,   ou   autre   maladie   résultant   de   la consommation de produits achetés si ceux-ci sont conformes au descriptif initial. Le client est seul responsable   du   choix   des   produits,   de   leur   conservation   à   compter   de  la   livraison   et  de  leur utilisation. En aucun cas le Vendeur ne pourrait être tenu responsable de tout dommage intervenant de ce fait.
  </p>
  <p>
    Les offres présentées ne sont valables que dans la limite des stocks disponibles.
  </p>
  <h4>
    Article 8 : Prix
  </h4>
  <p>
    Sauf mention contraire, les prix figurant dans le catalogue sont des prix entendus en Euros net à payer (TVA non applicable, selon l'article 293 B du CGI) et hors éventuelle participation aux frais de traitement et d'expédition facturés en supplément, et indiqués avant la validation de la commande.
    Le Vendeur se réserve le droit à tout moment de modifier ses prix et de répercuter, si applicable, tout changement du taux de TVA en vigueur sur le prix des Produits ou Services proposés sur le Site. Néanmoins, le prix figurant au catalogue le jour de la commande sera le seul applicable au Client.
    Le paiement de la totalité du prix doit être réalisé lors de la commande. A aucun moment, les sommes versées ne pourront être considérées comme des arrhes ou des acomptes.
  </p>
  <h4>
    Article 9 : Mode de paiement
  </h4>
  <p>
    Pour régler sa commande, le consommateur dispose, à son choix, de l'ensemble des modes de paiement visés au sein du bon de commande c’est à dire par  carte bancaire, Paypal, chèque. Les paiements par carte bancaire se font au moyen de transactions sécurisées fournies par un prestataire de plateforme de paiement en ligne.
    . En cas de paiement par chèque ou virement bancaire, les délais de livraison définis à l’article « Livraisons » des présentes CGV ne commencent à courir qu’à compter de la date de réception effective du paiement par le Vendeur, ce dernier pouvant en apporter la preuve par tous moyens.
    Les registres informatisés seront considérés par les parties comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.
  </p>
  <p>
    Le gérant du site se réserve le droit de suspendre toute gestion de commande et toute livraison en cas de refus d'autorisation de paiement par carte bancaire de la part des organismes officiellement accrédités ou en cas de non paiement. Le gérant du site se réserve notamment le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un consommateur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d'administration.
  </p>
  <h4>
    Article 10 : Disponibilité des produits
  </h4>
  <p>
    La commande sera préparée et expédiée  au plus tard dans un délai de 10 jours à compter du jour suivant celui où le consommateur a passé sa commande. En cas d'indisponibilité du produit commandé, notamment du fait de nos fournisseurs, le consommateur en sera informé au plus tôt et aura la possibilité d'annuler sa commande. Le consommateur aura alors le choix de demander soit le remboursement des sommes versées dans les 30 jours au plus tard de leur versement, soit l'échange du produit.
  </p>
  <h4>
    Article 11 : Modalités de livraison
  </h4>
  <p>
    Les produits sont livrés à l'adresse indiquée par le consommateur sur le bon de commande. Le consommateur est tenu de vérifier l'état de l'emballage de la marchandise à la livraison. Le consommateur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation et non à l'adresse de livraison en validant l'option prévue à cet effet sur le bon de commande.
    Les envois s'effectuent en règle générale dès le lendemain matin de votre prise de commande.
    Dans le cas où vous choisissez de régler par chèque bancaire, la commande ne sera traitée qu'à réception de celui-ci et les délais courront en conséquence.
  </p>
  <p>
    Les délais de livraison sont donnés à titre indicatif en fonction des conditions normales de préparation, d’expédition et des délais fournis par les transporteurs. La responsabilité du Vendeur ne serait être engagé en cas de retard sur les délais de livraison annoncés sur le bon de commande. Toutefois, le Vendeur mettre tout en œuvre pour à faire parvenir les produits commandés dans un délai maximum de 50 jours après la date de la commande.
    En tout état de cause, vous pouvez faire part du retard de votre livraison en adressant un mail à l’adresse lesjardinsdalice@outlook.fr
  </p>
  <p>
    Frais de port et d'emballage: Le calcul du montant des frais de port et d'emballage sera établi automatiquement en fonction du poids et du volume des produits et de la destination de la livraison.
  </p>
  <h4>
    Article 12 : Problèmes de livraison du fait du transporteur
  </h4>
  <p>
    Toute anomalie concernant la livraison (avarie, produit manquant par rapport au bon de livraison, colis endommagé, produits cassés…) devra être impérativement signalé dans les 24H, par e-mail à lesjardinsdalice@outlook.fr  , et les éléments devant constituer preuve de ces anomalies devront être produits devant les autorités compétentes en la matière. Le consommateur devra parallèlement confirmer cette anomalie en adressant au transporteur dans les deux (2) jours ouvrables suivants la date de livraison un courrier recommandé avec accusé de réception exposant lesdites réclamations. Les coordonnées du transporteur seront indiquées XX Le consommateur devra transmettre copie de ce courrier par fax ou par simple mail (sous forme de scan pdf) : lesjardinsdalice@outlook.fr
  </p>
  <h4>
    Article 13 : Erreurs de livraison
  </h4>
  <p>
    Le consommateur pourra formuler auprès du gestionnaire du site, le jour même de la livraison ou au plus tard le premier jour ouvré suivant la livraison, une réclamation en ce qui concerne une erreur de livraison, c’est-à-dire, dans l’hypothèse où la commande validée par email serait différente de celle reçue. Toute réclamation formulée au delà de ce délai sera rejetée.
    La formulation de cette réclamation auprès de la société pourra être faite à "lesjardinsdalice@outlook.fr". Aucun retour ne sera accepté en port dû.
  </p>
  <p>
    En cas d'erreur de livraison ou de l'exercice du droit à l'échange, tout produit à échanger ou à rembourser devra être retourné à la société dans son ensemble et dans son emballage d'origine, en parfait état de revente.
  </p>
  <p>
    Par d'hygiène et de sécurité, aucun produit consommable ouvert ne peut être repris ou échangé.
  </p>
  <p>
    Toute réclamation non effectuée dans les règles définies ci-dessus et dans les délais impartis ne pourra être prise en compte et dégagera la société de toute responsabilité vis à vis du consommateur.
  </p>
  <p>
    Le remboursement de la commande lors de l'exercice du droit de rétractation comprend le montant des produits commandés ainsi que les frais de ports (Loi Hamon). Toutefois, la société dispose du droit de rembourser les frais de ports à hauteur des frais de livraison standards.
  </p>
  <h4>
    Article 14 : Droit de rétractation
  </h4>
  <p>
    Le consommateur dispose d’un délai de 30 jour ouvrable pour retourner, à ses frais, les produits ne lui convenant pas via l’envi du formulaire de rétractation ci-dessous. Ce délai court à compter du jour de la livraison de la commande du consommateur. Si ce délai expire un samedi, un dimanche ou un jour férié ou chômé, il est prorogé jusqu'au premier jour ouvrable suivant.
    Tout produit retourné doit l'être dans son emballage d’origine (lequel permet seul d’assurer le transport du produit dans de bonnes conditions) avec les étiquettes de garantie, comporter l’ensemble du produit et de ses accessoires. Tout produit incomplet, abîmé, endommagé et/ou dont l’emballage d’origine aura été ouvert, détérioré, ne sera ni repris, ni échangé, ni remboursé. L’expéditeur doit donc veiller à l’emballage et au conditionnement du matériel qu’il envoie.
    Seuls seront repris les produits renvoyés dans leur ensemble, dans leur emballage d'origine complet et intact, et en parfait état de revente.
    Ne sont pas concernés par le droit de rétractation les biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé ;
  </p>
  <p>
    Ce droit de rétractation s'exerce sans pénalité, à l'exception des frais de retour. Dans l'hypothèse de l'exercice du droit de rétractation, le consommateur a le choix de demander soit le remboursement des sommes versées, soit l'échange du produit. Dans le cas d'un échange, la re-expédition se fera aux frais du consommateur.
    En cas d'exercice du droit de rétractation, la société fera tous ses efforts pour rembourser le consommateur dans les meilleurs délais.
  </p>
  <p>
    Conformément à l'article L221-5 du Code de la consommation, ("loi Hamon") de juin 2014, le Client Consommateur peut trouver ci-dessous un formulaire type de rétractation pour une commande passée sur le site :
  </p>
  <p>
    Formulaire de rétractation :
  </p>
  <p>
    (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter.)
    A l'attention de CORSINI ALICE-LES JARDINS D’ALICE 23 RUE GUBERNATIS 06000 NICE ou par mail à : lesjardinsdalice@outlook.fr.
    Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*)/pour la prestation de services (*) ci-dessous :
    Commandé le (*)/reçu le (*) :
    Nom du (des) Client(s) :
    Adresse du (des) Client(s) :
    Signature du (des) Client(s) (uniquement en cas de notification du présent formulaire sur papier) :
    Date :
    (*) Rayez la mention inutile.
  </p>
  <p>
    Le consommateur sera alors remboursé par recrédit de son compte bancaire (transaction sécurisée) en cas de paiement par carte bancaire, ou par chèque dans les autres cas.
  </p>
  <h4>
    Article 16 : Force majeure
  </h4>
  <p>
  Aucune des deux parties n'aura failli à ses obligations contractuelles, dans la mesure où leur exécution sera retardée, entravée ou empêchée par un cas fortuit ou une force majeure. Sera considéré comme cas fortuit ou force majeure tous faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourra être empêché par ces dernières, malgré tous les efforts raisonnablement possibles. La partie touchée par de telles circonstances en avisera l'autre dans les dix jours ouvrables suivant la date à laquelle elle en aura eu connaissance. Les deux parties se rapprocheront alors, dans un délai d'un mois, sauf impossibilité due au cas de force majeure, pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution du contrat sera poursuivi. Si le cas de force majeur a une durée supérieure à trois mois, les présentes conditions générales pourront être résiliées par la partie lésée. De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre; l'arrêt des réseaux de télécommunication ou difficultés propres aux réseaux de télécommunication externes aux clients.
  </p>
  <h4>
    Article 17 : Non validation partielle
  </h4>
  <p>
    Si une ou plusieurs stipulations des présentes conditions générales sont tenues pour non valides ou déclarées telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.
  </p>
  <h4>
    Article 18 : Non renonciation
  </h4>
  <p>
    Le fait pour l'une des parties de ne pas se prévaloir d'un manquement par l'autre partie à l'une des obligations visées dans les présentes conditions générales ne saurait être interprété pour l'avenir comme une renonciation à l'obligation en cause.
  </p>
  <h4>
    Article 19 : Loi applicable
  </h4>
  <p>
    Les présentes conditions générales sont soumises à la loi française conformément à la réglementation en vigueur. Il en est ainsi pour les règles de fonds comme pour les règles de forme. En cas de litige ou de réclamation, le consommateur s'adressera en priorité au gestionnaire du site pour obtenir une solution amiable..
  </p>
  <h4>
    Article 20 : Informatique et Libertés
  </h4>
  <p>
    Conformément à la loi informatique et liberté de 2004 et au règlement européen RGPD de mai 2018, ls données personnelles demandées au consommateur lors de son inscription ou de l’envoi de sa commande sont nécessaires au traitement de sa commande et se seront traitées que dans cet objectif. Ces données ne seront en aucun cas être communiquées à un quelconque tiers, en dehors des transporteurs et des partenaires contractuels  intervenant dans le cadre de l'exécution de cette commande. Le consommateur peut écrire à la société pour exercer ses droits d'accès, de rectification à l'égard des informations le concernant  par mail à l’adresse lesjardinsdalice@outlook.fr.
  </p>
  <h4>
    Article 21 : Droits de propriété intellectuelle
  </h4>
  <p>
  Tous les éléments du présent Site ( marques, logos, interfaces, etc, ..)  appartiennent au Vendeur ou à un tiers mandataire, ou sont utilisés par le Vendeur avec l'autorisation de leurs ayant droits. Le présent Site utilise des éléments (images, photographies, contenus) dont les crédits reviennent à : CORSINI Alice, Raphael Garcia-Romeu, pixabay.
  Toute personne procédant à leurs représentations, reproductions, imbrications, diffusions et rediffusions encourt les sanctions prévues.
  Toute reproduction, représentation, adaptation des logos, contenus textuels, pictographiques ou vidéos, sans que cette énumération ne soit limitative, est rigoureusement interdite et s’apparente à de la contrefaçon délit sanctionné par le code de propriété intellectuelleaux articles L.713-2 et suivants.
  Tout Client qui se rendrait coupable de contrefaçon serait susceptible de voir son compte supprimé sans préavis ni indemnité
  </p>
  <h4>
    Article 22 : dispositif de lutte contre la cybercriminalité
  </h4>
  <p>
    En raison de tentatives diverses de phishing, scamming et autres fraudes aux moyens de paiement (carte bancaire, chèques etc), une procédure de vérification peut-être effectuée en cas de doute légitime sur l'identité du propriétaire du moyen de paiement (envoi d'un justificatif d'identité). En cas de non respect de cette procédure, la commande impliquée est automatiquement annulée et remboursée.
  </p>
  <p>
    <em>
        Tous droits réservés – 10 mai 2018
    </em>
  </p>
</div>
