.category {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-bottom: 36px;

  .category-infos {
    position: relative;
    padding: 16px;
    flex: 1 1 0;
    background-color: white;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-left: black 3px solid;
    margin-right: 4px;
    // min-height: 30vh;
  }

  .category-products {
    flex: 3 1 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .products {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: black 1px solid;
      background-color: white;
      margin: 6px 2px 0px 2px;
      height: 45vh;

      &:hover .cart-add {
        background-color: $main-color;
        color: black;
      }

      .product-image {
        width: 100%;
        height: 75%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        // &:hover {
        //   background-color: $main-color;
        // }
      }

      .product-info {
        padding: 16px;
        height: 75%;
        line-height: 1.3em;
        color: black;

        &:hover {
          text-decoration: none;
        }

        &.coffret {
          margin-bottom: 0px;
        }

        a {
          font-family: "Junicode";
        }

      }

      .cart-add {
        height: 25%;
        line-height: 1.2em;
        border-top: black 1px solid;
        border-collapse: collapse;
        padding: 12px;
        font-size: 1.1em;
        background-color: $white;

        &:hover {
          background-color: $complementary-color;
          color: black;
        }

        a {
          height: 100%;
          display: flex;
          justify-content: space-evenly;

          .cart-add-infos {
            flex: 2 1 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h5 {
              font-size: 1em;
            }
          }

          .cart-add-button {
            flex: 1 1 0;
            display: flex;
            align-items: end;
            justify-content: center;

            img {
              width: 40px;
            }
          }
        }
      }
    }

  }
}

.jardins-boxes {
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 144px;
  margin-bottom: 144px;
  background-color: white;
  border: black 1px solid;

  .jardin-slider {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-position: cover;

    p {
      text-align: left;
      padding: 25px 66px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      color: white;
      font-size: 3em;
    }
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  min-height: 75vh;
  margin: 48px auto;
  padding: 48px;
  background-color: white;
  border: black 1px solid;

  .order-button {
    text-align: center;
  }
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  min-height: 75vh;
  margin: 48px auto;
  padding: 48px;
  background-color: white;
  border: black 1px solid;

  .small-dash-container {
    display: none;

    &.show {
        display: flex;
        justify-content: space-between;
        // margin: 24px 0px;
        padding: 24px 0px;
        // border-bottom: black 1px solid;
      }


    .main-photo {
      margin-right: 16px;
      flex: 1 1 0;
      width: 100%;
      height: 100%;
      border: black 1px solid;
      background-color: $light-gray;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .infos {
      flex: 2 1 0;
      padding-right: 16px;

      .promo {
        color: red;
      }
    }

    .buttons {
      flex: 1 1 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: end;
    }
  }

  h3, h4 {
    text-decoration: underline;
  }
}

.dashboard-container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // width: 90%;
  // min-height: 50vh;
  // margin: 48px auto;
  // padding: 48px;

  .small-dash-images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    row-gap: 1em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px dashed $complementary-color;

    .main-photo {
      width: 60%;
      height: 60%;
      border: black 1px solid;
      background-color: $light-gray;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .buttons {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }

  h3,
  h4 {
    text-decoration: underline;
  }
}

.product-container {
  position: relative;
  width: 86%;
  min-height: 70vh;
  margin: 60px auto;
  padding: 48px;
  background-color: $light-gray;
  border: black 1px solid;
  display: flex;
  justify-content: space-between;

  .product-image {
    margin-right: 24px;
    border-radius: 5px;
    flex: 1 1 0;
    width: 100%;
    max-height: 70vh;
    background-color: $light-gray;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-infos {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: black 1px solid;
    // background-color: $light-gray;

    .details {
      display: flex;
      justify-content: space-between;

      .cart-add {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        button {
          margin-left: 30px;
          padding: 8px;
        }

        img {
          width: 40px;
          padding-left: 8px;
        }
      }
    }
  }
}

.coffret-container {
  width: 90%;
  margin: auto;
  margin-bottom: 48px;
  padding: 48px;
  background-color: white;
  border: black 1px solid;
  border-left: black 3px solid;
  z-index: -1000;

  .coffret-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    .coffret-image {
      margin-right: 24px;
      flex: 1 1 0;
      width: 100%;
      height: 45vh;
      background-color: $light-gray;

      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .coffret-infos {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 24px;

      .details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        button {
          padding: 8px 16px;

          img {
            width: 40px;
            padding-left: 8px;
          }

        }
      }
    }
  }

  .coffret-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // margin-left: 8px;
    // border-collapse: collapse;

    .product {
      border: black 1px solid;
      background-color: white;
      margin: 4px;

      .product-image {
        width: 100%;
        height: 250px;

        .background {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-size: 150%;
          background-position: center;
          background-color: rgba(255, 255, 255, 0.3);
          background-blend-mode: overlay;
          color: black;

          h4 {
            padding: 16px;
          }
        }
      }

      .product-info {
        width: 100%;
        height: 100%;
        padding: 16px;
        line-height: 1.2em;

        &:hover {
          background-color: $complementary-color;
          color: black;
        }
      }
    }
  }
}

.devise-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 86%;
  min-height: 75vh;
  margin: 48px auto;
  background-color: $light-gray;
  border: black solid 1px;
  padding: 48px;

  h2 {
    text-align: center;
  }

  .devise-links {
    text-align: center;
  }
}
