.category {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-bottom: 24px;

  .category-infos {
    padding: 16px;
    flex: 1 1 0;
    border: black 1px solid;
    background-color: white;

    h4 {
      text-align: center;
    }
  }

  .category-products {
    flex: 3 1 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // margin-left: 8px;
    // border-collapse: collapse;

    .products {
      position: relative;
      border-top: black 1px solid;
      border-right: black 1px solid;
      border-bottom: black 1px solid;
      background-color: white;


      .product-info {
        padding: 16px;
        margin-bottom: 48px;
        line-height: 1.2em;

        &.coffret {
          margin-bottom: 0px;
        }
      }

      .cart-add {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: black 1px solid;
        border-collapse: collapse;
        text-align: center;
        padding: 16px;
        font-size: 1.3em;

        &:hover {
          background-color: cornflowerblue;
        }
      }
    }

    .cart-add-coffret {
      display: flex;
      border-top: black 1px solid;
      border-right: black 1px solid;
      border-bottom: black 1px solid;
      background-color: white;
      padding: 8px;
      height: 100%;
      font-size: 1.3em;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:hover {
        background-color: cornflowerblue;
      }
    }

  }
}
