.navbar-home {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.navbar-pages {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: white;
  columns: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding: 0px;
  font-size: 1.2em;

  a {
    font-family: "Junicode italic";
  }
}

.navbar-top {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 5px 16px;
  text-align: center;

  .nav-top-links {
    font-size: 1.1em;
  }

  .nav-top-logo {
    flex-grow: 3;
    text-align: center;
  }

  img {
    flex-grow: 3 ;
    height: 25px;
  }

  .cart {
    display: flex;

    .cart-items {
      width: 20px;
      height: 20px;
      background-color: $light-gray;
      border: black solid 1px;
      border-radius: 50%;
      position: absolute;
      top: 1px;
      right: 30px;
      text-align: center;
      font-family: "Junicode bold";
      font-size: 0.8em;

    }

    &:hover {
      .cart-items {
        background-color: $main-color;
      }
    }
  }
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  padding: 5px;
  text-align: center;
  flex: 1 1 0;
  border-left: black 1px solid;

  .dropdown-content {
    display: none;
    position: absolute;
    top: 36,5px;
    background-color: white;
    border: black 1px solid;
    min-width: 101%;
    z-index: 1;
    text-align: left;
    margin-top: 5px;
    margin-left: -6px;
    font-weight: 300;
  }
}

.drop {
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  font-size: 0.9em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-small {
  display: flex;
  justify-content: space-around;
  background: white;
  columns: auto;
  border-bottom: black 1px solid;
  padding: 0px;
  font-size: 20px;
  position: sticky;
  top: 89px;
  left: 0;
  right: 0;
  z-index: 4000;

  a {
    flex: 1 1 0;
    padding: 0px 8px;
    text-align: center;
    border-left: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.active {
  background-color: black;
  color: white;

  .dropdown-content a {
    color: black;

    &:hover {
      color: white;
    }
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  &:hover {
    color: white;
  }
}
