.navbar-home {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.navbar-pages {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: white;
  columns: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding: 0px;
  font-size: 20px;
}

.navbar-top {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  align-items: center;
  padding: 5px;
  text-align: center;

  .nav-top-logo {
    flex-grow: 3;
    text-align: center;
    padding-left: 50px;
  }

  img {
    flex-grow: 3 ;
    height: 25px;
  }
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  padding: 5px;
  text-align: center;
  flex: 1 1 0;
  border-left: black 1px solid;
}

.drop {
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: black 1px solid;
  min-width: 101%;
  z-index: 1;
  text-align: left;
  text-decoration: underline;
  margin-top: 5px;
  margin-left: -6px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  font-family: 'Junicode italic';
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-dashboard {
  display: flex;
  justify-content: space-around;
  background: white;
  columns: auto;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  padding: 0px;
  font-size: 20px;
  position: sticky;
  top: 75px;
  left: 0;
  right: 0;
  z-index: 4000;

  a {
    flex: 1 1 0;
    padding: 0px 8px;
    text-align: center;
    border-left: black 1px solid;
  }

}

.active {
  background-color: cornflowerblue;
  color: white;

  &:hover {
    text-decoration: none;
  }
}
