.sticker-title {
  width: 32%;
  margin-left: 5%;
  padding: 8px 12px;
  color: white;
  border-left: black 3px solid;
  border-top-right-radius: 75px;
  background-color: black;
  z-index: 1000;

  &.prestations {
    width: 50%;
  }
}

.sticker-presta {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 4px;
  padding-left: 24px;
  color: white;
  border-bottom-left-radius: 100px;
  background-color: $main-color;
  font-family: "Junicode bold";
  font-size: 1.1em;
}

.sticker-promo {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 4px;
  padding-left: 24px;
  color: white;
  border-bottom-left-radius: 100px;
  background-color: $main-color;
  font-family: "Junicode bold";
  font-size: 1.1em;
  z-index: 1000;
}

.sticker-banner-promo {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 4px;
  padding-left: 24px;
  color: white;
  border-bottom-left-radius: 100px;
  background-color: $complementary-color;
  font-family: "Junicode bold italic";
  font-size: 1.1em;
}
