table {
  text-align: center;
  background-color: white;

  tr {
    border: black 1px solid;
  }

  th {
    border: black 1px solid;
    padding: 4px;

    .form-check {
      display: flex;
      justify-content: center;
      align-items: center
    }
  }

  .table-headers {
    background-color: cornflowerblue;
    font-size: 24px;
  }

  .table-lines {
    font-weight: 400;
  }
}
