table {
  text-align: center;
  background-color: white;
  width: 100%;

  tr {
    border: black 1px solid;
  }

  th {
    border: black 1px solid;
    padding: 4px;

    .form-check {
      display: flex;
      justify-content: center;
      align-items: center
    }

    &.line-items-list {
      text-align: left;
    }
  }

  .table-headers {
    background-color: $main-color;
    font-size: 1.1em;
  }

  .table-line {
    font-size: 0.9em;
  }

}
