.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.article-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: overlay;
}

.dashboard-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
}

.title-jardins {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: 100%;
  background-position: center;
  margin-bottom: 96px;
}
