// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "actiontext";

// html {
//   scroll-snap-type: block;
// }

@supports (-moz-appearance:none) {
  body {
    background-blend-mode: normal;
    font-size: 1.1em;
  }

  .navbar-small {
    top: 74px;
  }
}

body {
  font-size: 1.1em;
  z-index: +10000;
  font-family: 'Junicode';
  // background-attachment: fixed;
  background-color: $light-gray;
  background-image: url(SVG/Wallpaper3.svg);
  background-color: rgba(255, 255, 255, 0.3);
}

// h2 {
//   font-family: "Junicode bold italic";
// }

// h3, h4, h5 {
//   font-family: "Junicode bold";
// }

// h1 {
//   font-family: "Junicode bold";
//   font-size: 4em;
// }

// a {
//   font-family: "Junicode bold italic";
//   text-decoration: none;
//   color: black;

//   &:hover {
//     color: black;
//   }
// }
.content {
  display: none;

  &.activate {
    display: block;
  }
}

.product-image {
  background-color: white;
}

.trix-content {
  .attachment-gallery {

    >action-text-attachment,
    >.attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {

      >action-text-attachment,
      >.attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }

}

trix-editor {
  display: block;
  min-height: 10em;
  border: 1px solid black;
  padding: 1em;
}

trix-toolbar {
  display: flex;
  font-size: 0.8em;
}
