// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: 'Junicode';
  background-color: white;
  background-image: url(SVG/Wallpaper2.svg);
}

h1, h2, h3, h4, h5 {
  font-family: "Junicode bold";
}

h1 {
  font-size: 5em;
}

a {
  font-family: "Junicode bold italic";
  text-decoration: none;
  color: black;

    &:hover {
      text-decoration: underline;
      color: black;
    }

}
